{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                {% include 'components/route-page.html' %}
                <hr>
                <div class="row">
                    <div class="col-md-2">Filter by</div> <!-- col.// -->
                    <form class="col-md-10">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Country </a>
                                <div class="dropdown-menu p-3">
                                    {% for country in countries %}
                                    <label class="form-check">
                                        <input type="checkbox" name="country{{ forloop.counter }}" class="form-check-input" value="{{ country }}">
                                        {{ country }}
                                    </label>
                                    {% endfor %}
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3"><a href="#">Color</a></li>
                            <li class="list-inline-item mr-3"><a href="#">Size</a></li>
                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Price</label>
                                    <input class="form-control form-control-sm" name="minPrice" placeholder="Min" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" name="maxPrice" placeholder="Max" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Ready to ship
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </form> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">{{ products.count }} mahsulot topildi!</strong>
                <form>
                    <select name="ordering" class="mr-2 form-control">
                        <option value="latest" {% if query_order == 'latest' %} selected {% endif %}>Latest items</option>
                        <option value="trending" {% if query_order == 'trending' %} selected {% endif %}>Trending</option>
                        <option value="popular" {% if query_order == 'popular' %} selected {% endif %}>Most Popular</option>
                        <option value="cheapest" {% if query_order == 'cheapest' %} selected {% endif %}>Cheapest</option>
                    </select>
                    <button class="btn btn-sm btn-light mr-4">Go</button>
                </form>
                <div class="btn-group">
                    <a href="{% url 'products' %}?view=large{% if query_sub %}&sub-category={{ query_sub }}{% endif %}"
                       class="btn btn-light" data-toggle="tooltip" title="List view">
                        <i class="fa fa-bars"></i></a>
                    <a href="{% url 'products' %}{% if query_sub %}?sub-category={{ query_sub }}{% endif %}"
                       class="btn btn-light active" data-toggle="tooltip" title="Grid view">
                        <i class="fa fa-th"></i></a>
                </div>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="badge badge-danger"> NEW </span>
                        <img src="{% if product.get_main_media %} {{ product.get_main_media.image.url }} {% endif %}"
                             alt="Product-Image">
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">{{ product.name }}</a>
                        <div class="price-wrap">
                            <span class="price">{{ product.price|floatformat:0|intcomma }} so'm</span>
                        </div> <!-- price-wrap.// -->
                        <p class="text-muted ">{{ product.seller.name }}</p>

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                            <span class="tag"> 2 Years </span>
                            <span class="tag"> 23 reviews </span>
                            <span class="tag"> Japan </span>
                        </p>

                        <label class="custom-control mb-3 custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">Add to compare</div>
                        </label>

                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-cart-plus"></i> Add to Cart</a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>


        <div class="box text-center">
            <p>Did you find what you were looking for？</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"><i class="fa fa-envelope"></i> Subscribe
                        </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->

{% endblock %}